<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>healthBar-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,430},{148,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,64}}</string>
                <key>sourceSize</key>
                <string>{148,64}</string>
            </dict>
            <key>healthBar-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{148,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,64}}</string>
                <key>sourceSize</key>
                <string>{148,64}</string>
            </dict>
            <key>healthBar-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,262},{148,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,64}}</string>
                <key>sourceSize</key>
                <string>{148,64}</string>
            </dict>
            <key>healthBar-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,262},{148,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,64}}</string>
                <key>sourceSize</key>
                <string>{148,64}</string>
            </dict>
            <key>healthBar-iPad-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,132},{296,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,128}}</string>
                <key>sourceSize</key>
                <string>{296,128}</string>
            </dict>
            <key>healthBar-iPad-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{296,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,128}}</string>
                <key>sourceSize</key>
                <string>{296,128}</string>
            </dict>
            <key>healthBar-iPad-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{296,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,128}}</string>
                <key>sourceSize</key>
                <string>{296,128}</string>
            </dict>
            <key>healthBar-iPad-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{296,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,128}}</string>
                <key>sourceSize</key>
                <string>{296,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>healthBar.png</string>
            <key>size</key>
            <string>{432,496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:694195a26fb734640ca86ee07d65fd86:03dcbf7b10fe4e5f53c651f4c1d3b851:44c7e4a75ca87fb185ceabbe07a471e4$</string>
            <key>textureFileName</key>
            <string>healthBar.png</string>
        </dict>
    </dict>
</plist>
