<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Health-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{54,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,17}}</string>
                <key>sourceSize</key>
                <string>{54,17}</string>
            </dict>
            <key>Health-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{54,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,17}}</string>
                <key>sourceSize</key>
                <string>{54,17}</string>
            </dict>
            <key>Health-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{54,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,17}}</string>
                <key>sourceSize</key>
                <string>{54,17}</string>
            </dict>
            <key>Health-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,17}}</string>
                <key>sourceSize</key>
                <string>{54,17}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Health.png</string>
            <key>size</key>
            <string>{226,21}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7fc6db01dff70ec735eb7b6e18f2fc9:843320e788017c82181e1a74abba35c2:91a3c6d912aa87e499242952c7c746ad$</string>
            <key>textureFileName</key>
            <string>Health.png</string>
        </dict>
    </dict>
</plist>
