<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>inventoryButton-iPad-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>inventoryButton-iPhone-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>inventoryButton.png</string>
            <key>size</key>
            <string>{138,92}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c024321240e1f621ebe01d22061ddf95:3c26d812b75b50a8fd5a2f3c7ddb4042:51412ed305b1d8465da7e33d3bbe42d1$</string>
            <key>textureFileName</key>
            <string>inventoryButton.png</string>
        </dict>
    </dict>
</plist>
