<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>objectiveButton-iPad-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>objectiveButton-iPhone-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>objectiveButton.png</string>
            <key>size</key>
            <string>{138,92}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ccacd1387351e4c2882339d2a5292a98:58b72b5d1ba724ef6299ba7e0d3439b9:3f56b74ab78efd88b2506d6b6e7fbba8$</string>
            <key>textureFileName</key>
            <string>objectiveButton.png</string>
        </dict>
    </dict>
</plist>
