<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sideBar-iPad-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,452}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,452}}</string>
                <key>sourceSize</key>
                <string>{256,540}</string>
            </dict>
            <key>sideBar-iPhone-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{128,226}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,226}}</string>
                <key>sourceSize</key>
                <string>{128,270}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sideBar.png</string>
            <key>size</key>
            <string>{390,456}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0bc66705f96c2e3c9313afb64897ca8:60b914aa5d115b86de1aebec8742695c:7a5e0ed596d865d88d830b9bfef3b193$</string>
            <key>textureFileName</key>
            <string>sideBar.png</string>
        </dict>
    </dict>
</plist>
