<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zombieHuman2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,2},{31,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,34}}</string>
                <key>sourceSize</key>
                <string>{31,34}</string>
            </dict>
            <key>zombieHuman2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{31,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,34}}</string>
                <key>sourceSize</key>
                <string>{31,34}</string>
            </dict>
            <key>zombieHuman2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,2},{31,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,34}}</string>
                <key>sourceSize</key>
                <string>{31,34}</string>
            </dict>
            <key>zombieHuman2-N-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{31,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,34}}</string>
                <key>sourceSize</key>
                <string>{31,34}</string>
            </dict>
            <key>zombieHuman2-N-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,2},{31,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,34}}</string>
                <key>sourceSize</key>
                <string>{31,34}</string>
            </dict>
            <key>zombieHuman2-N-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{31,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,34}}</string>
                <key>sourceSize</key>
                <string>{31,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zombieHuman2.png</string>
            <key>size</key>
            <string>{200,38}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d8aea4037fd4f5e62ae2319b7e23eb8e:33d8c78ea416e2cf0796f0d850d9b11d:fc28db8c649d7510af4b549668461d09$</string>
            <key>textureFileName</key>
            <string>zombieHuman2.png</string>
        </dict>
    </dict>
</plist>
