<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zombieHuman-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{31,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,37}}</string>
                <key>sourceSize</key>
                <string>{31,37}</string>
            </dict>
            <key>zombieHuman-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,2},{31,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,37}}</string>
                <key>sourceSize</key>
                <string>{31,37}</string>
            </dict>
            <key>zombieHuman-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{31,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,37}}</string>
                <key>sourceSize</key>
                <string>{31,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zombieHuman.png</string>
            <key>size</key>
            <string>{101,41}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:988d071f9c4816a2e16aee81ba688602:e644081da661a0c928a3a3259a851939:e61211a0bcc03678b3c47776fd7a5e73$</string>
            <key>textureFileName</key>
            <string>zombieHuman.png</string>
        </dict>
    </dict>
</plist>
