<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zombiePirate-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,49},{23,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,45}}</string>
                <key>sourceSize</key>
                <string>{23,45}</string>
            </dict>
            <key>zombiePirate-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{20,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,44}}</string>
                <key>sourceSize</key>
                <string>{20,44}</string>
            </dict>
            <key>zombiePirate-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{24,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,45}}</string>
                <key>sourceSize</key>
                <string>{24,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zombiePirate.png</string>
            <key>size</key>
            <string>{28,142}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87b21a333ec2f88889c37d80c09bc160:725c6d933a283388c31337f167a40cec:3648235edb94f5863d9736ba2617c219$</string>
            <key>textureFileName</key>
            <string>zombiePirate.png</string>
        </dict>
    </dict>
</plist>
